<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.springboot.mapper.ResponseMapper">

    <resultMap id="BaseResultMap" type="com.xy.springboot.model.entity.Response">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="messageId" column="messageId" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,conversationId,userId,
        content,createTime,isDelete
    </sql>
</mapper>
